<header class="navbar p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start w-100">
      <div class="d-flex col-12 col-md-3 justify-content-center justify-content-md-start">
        <a href="/" class="navbar-brand">
          <img width="42px" height="42px" src="/static/images/logo_base.png" alt="로고" />
        </a>
        <a class="navbar-brand fs-3 bold text-nowrap align-middle" href="/">
          <span>EMPATH</span>
        </a>
      </div>

      <ul id="navbar" class="nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/absa/" class="nav-link px-2">ABSA</a></li>
        <li><a href="/crawler/" class="nav-link px-2">Crawler</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-primary me-2">Login</button>
        <button type="button" class="btn btn-secondary">Sign-up</button>
      </div>
    </div>
  </div>
</header>
{% block script %} {% endblock script %}
