<header class="navbar p-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-start w-100">
      <div class="d-flex col-12 col-md-3 justify-content-center justify-content-md-start">
        <a href="/absa" class="navbar-brand">
          <img width="42px" height="42px" src="/static/images/logo_base.png" alt="로고" style="border-radius: 50%" />
        </a>
        <a class="navbar-brand fs-3 bold text-nowrap align-middle" href="/">
          <span>EMPATH</span>
        </a>
      </div>

      <ul id="navbar" class="nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/absa/" class="nav-link px-2">ABSA</a></li>
        <li><a href="/crawler/" class="nav-link px-2">Crawler</a></li>
      </ul>

      <div class="text-end">
        {% if user.is_authenticated %}
        <form id="logout-form" method="post" action="{% url 'accounts:Logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">로그아웃</button>
        </form>
        {%else%}
        <a href="/accounts/login/" class="btn btn-primary me-2" role="button">로그인</a>
        <a href="/accounts/signup/" class="btn btn-secondary" role="button">회원가입</a>
        {%endif%}
      </div>
    </div>
  </div>
</header>
{% block script %} {% endblock script %}
