:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /*grayscale*/
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #efefef;
  --gray-300: #e2e2e2;
  --gray-400: #bfbfbf;
  --gray-500: #a0a0a0;
  --gray-600: #777777;
  --gray-700: #636363;
  --gray-800: #444444;
  --gray-900: #232527;
  --bootstrap-primary: #0d6efd;
  --bootstrap-secondary: #6c757d;
  --bootstrap-light: #f8f9fa;
  --bootstrap-danger: #dc3545;
  --bootstrap-success: #198754;
  --bootstrap-warning: #ffc107;
  --bootstrap-border: #dee2e6;
  --pastel-primary: #94b0ff;
  --pastel-secondary: #a9b2b9;
  --pastel-light: #f0f2f5;
  --pastel-danger: #e6a4aa;
  --pastel-success: #9fd4ab;
  --pastel-run: #f6b897;
  --pastel-warning: #ffe282;
  --normal-run: #f16c0d;
}
